.header {
    display: flex;
    justify-content: space-between;

    .header-button {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;

        background-image: linear-gradient(
            92.88deg,
            #455eb5 9.16%,
            #5643cc 43.89%,
            #673fd7 64.72%
        );
        border-radius: 8px;
        border-style: none;
        box-sizing: border-box;
        color: #fff;
        flex-shrink: 0;
    }

    .header-button:hover {
        color: #f1356d;
        cursor: pointer;
    }
}