$indigo50: #eef2ff;
$indigo100: #e0e7ff;
$indigo200: #c7d2fe;
$indigo300: #a5b4fc;
$indigo400: #818cf8;
$indigo500: #6366f1;
$indigo600: #4f46e5;
$indigo700: #4338ca;
$indigo800: #3730a3;
$indigo900: #312e81;
$indigo950: #1e1b4b;

$violet50: #f5f3ff;
$violet100: #ede9fe;
$violet200: #ddd6fe;
$violet300: #c4b5fd;
$violet400: #a78bfa;
$violet500: #8b5cf6;
$violet600: #7c3aed;
$violet700: #6d28d9;
$violet800: #5b21b6;
$violet900: #4c1d95;
$violet950: #2e1065;

$purple50: #faf5ff;
$purple100: #f3e8ff;
$purple200: #e9d5ff;
$purple300: #d8b4fe;
$purple400: #c084fc;
$purple500: #a855f7;
$purple600: #9333ea;
$purple700: #7e22ce;
$purple800: #6b21a8;
$purple900: #581c87;
$purple950: #3b0764;

$fuchsia50: #fdf4ff;
$fuchsia100: #fae8ff;
$fuchsia200: #f5d0fe;
$fuchsia300: #f0abfc;
$fuchsia400: #e879f9;
$fuchsia500: #d946ef;
$fuchsia600: #c026d3;
$fuchsia700: #a21caf;
$fuchsia800: #86198f;
$fuchsia900: #701a75;
$fuchsia950: #4a044e;